@import "../../global.scss";

.projects { 
  overflow-y: hidden;
}

.projectsContainer {
  background-color: rgb(252, 247, 243);
  align-items: right;
  display: flex;
  position: relative;
  margin-left: 26px;

@include smallMediumScreen { 
  display: flex; 
  flex-direction: column;
  justify-content: center !important;
  align-items: right !important;
  margin-left: 9%;
}

  .project {
    vertical-align: middle;
    margin-right: 14px;
    position: relative;

    @include smallMediumScreen { 
      margin-bottom: 19%;
    }

    @include forProjectsPageSmallMediumScreen { 
      margin-bottom: 7%;
    }
    h4 {
      position: absolute;
      font-size: clamp(1.5vw, 1.736vw, 19vw);
      top: 41%;
      left: 5%;
      margin-left: 5%;
      margin-right: 10%;
      z-index: 0;
      pointer-events: none;
      
      @include forProjectsPageSmallMediumMaxScreen { 
        width: 57vw; 
        font-size: 3.2vw;
        top: 45%;
        word-wrap: break-word;
      }
    }

    .project-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      overflow-y: hidden;

      .project-info-flex-item {
        margin-right: 3%;
      }

      .githubIcon:hover {
        transform: scale(1.115);
        transition: 0.3s;
      }

      .githubIcon:not(:hover) {
        transform: scale(1);
        transition: 0.3s;
      }

      .youtubeIcon:hover {
        transform: scale(1.115);
        transition: 0.3s;
      }

      .youtubeIcon:not(:hover) {
        transform: scale(1);
        transition: 0.3s;
      }

      .live-site-text {
        font-size: 18.5px;
      }

      .live-site-link {
        text-decoration: none;
        color: black;
      }

      .live-site-link:hover {
        transform: scale(1.115);
        transition: 0.3s;
      }

      .live-site-link:not(:hover) {
        transform: scale(1);
        transition: 0.3s;
      }
    }
  }

  h2 {
    font-family: "futura-pt-21", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #6e5374;
    margin-left: 5%;
  }

  h3 {
    font-family: "futura-pt-21", sans-serif;
    font-size: 14.8px;
    font-weight: 100;
  }

  h4 {
    font-family: "futura-pt-21", sans-serif;
    font-weight: 100;
    color: white;
  }

  .photos {
    max-width: 92%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 1px;
    border: 1px solid #e1e1e1;
    border-right: none;
    display: flex;
    align-items: center;
    box-shadow: #c4d3c0 26px -26px;
    position: relative;
    z-index: 1;

    @include smallMediumScreen { 
      max-width: 82%;
    }
  }

  .photos:hover {
    filter: brightness(29%);
    opacity: 0.3;
    opacity: 100%;
    z-index: 0;
    transition: 0.35s;
    box-shadow: #5a7653 15px -15px;
  }

  .photos:not(:hover) {
    opacity: 100%;
    filter: brightness(100%);
    box-shadow: #c4d3c0 26px -26px;
    transition: 0.35s;
  }
}

h1 {
  font-size: 58px;
  padding-bottom: 40px;
  margin-left: 20%;
  margin-top: 4%;
  font-family: "futura-pt-21", sans-serif;
}

span {
  color: #878787;
}

.youtubeIcon {
  position: relative;
  top: 7.7px;
  font-size: 31.5px !important;

  @include smallMediumScreen { 
    font-size: 35px;
   

  }
}

a { 
  overflow: hidden;
}

.githubIcon {
  position: relative;
  top: 3px;
}

// .projects {
//   background-color: rgb(252, 247, 243);
//   display: flex;
//   align-items: center;

//   .projectContainer {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     width: 100%;

//     .projectDiv {
//       width: 25.694vw;
//       height: 25.694vw;
//       border-bottom: 0.139vw solid black;
//       border-right: 0.139vw solid black;
//     }
//   }
// }

// .projectsHeader {
// }
