.projectsContainer {
  background-color: rgb(252, 247, 243);
  align-items: right;
  margin-left: 5%;
  display: flex;
  position: relative;
  margin-left: 26px;

  .project {
    vertical-align: middle;
    margin-right: 14px;
  }

  h2 {
    font-family: "futura-pt-21", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #6e5374;
    margin-left: 5%;
  }

  h3 {
    font-family: "futura-pt-21", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }

  .photos {
    max-width: 92%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    border-right: none;
    display: flex;
    align-items: center;
    box-shadow: #5a7653 10px -20px;
  }
}

h1 {
  font-size: 58px;
  padding-bottom: 40px;
  margin-left: 20%;
  margin-top: 4%;
  font-family: "futura-pt-21", sans-serif;
}

// .projects {
//   background-color: rgb(252, 247, 243);
//   display: flex;
//   align-items: center;

//   .projectContainer {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     width: 100%;

//     .projectDiv {
//       width: 25.694vw;
//       height: 25.694vw;
//       border-bottom: 0.139vw solid black;
//       border-right: 0.139vw solid black;
//     }
//   }
// }

// .projectsHeader {
// }
