@import "../../global.scss";

.blogs {
  background-color: #76597d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  .blogsTitle {
    color: black;
    position: relative;
    bottom: 34.5%;
    right: 5%;

    @include blogsPageForIphoneScreens {
      bottom: 33% !important;
      left: 7%;
    }

    @include iPhoneTwelveProScreen {
      bottom: 29.5%;
    }

    @include movingBlogsTitleForSpecificHeight {
      bottom: 35.7%;
    }

    @include blogsPageSmallerScreen {
      bottom: 34.8%;
    }
  }

  .arrowLeft {
    height: 70px;
    position: absolute;
    z-index: 1;
    left: 11%;
    cursor: pointer;

    @include blogsPageSmallScreen {
      left: 11%;
      top: 9.5%;
      height: 58px;
    }

    @include blogsPageForIphoneScreens {
      top: 12.3%;
      left: 8%;
    }

    @include iPhoneTwelveProScreen {
      top: 15.5%;
    }
  }

  .arrowLeft:hover {
    transform: scale(1.115);
    transition: 0.5s;
  }

  .arrowLeft:not(:hover) {
    transform: scale(1);
    transition: 0.5s;
  }

  .arrowRight {
    height: 70px;
    position: absolute;
    z-index: 1;
    right: 11%;
    transform: rotate(180deg);
    cursor: pointer;

    @include blogsPageSmallScreen {
      left: 24%;
      top: 9.5%;
      height: 58px;
    }

    @include blogsPageForIphoneScreens {
      top: 12.3%;
      left: 25%;
    }

    @include iPhoneTwelveProScreen {
      top: 15.5%;
    }
  }

  .biggerSmallerRight { 
    animation-name: smallerBiggerRight;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: rotate(180deg);
  }

  .biggerSmallerLeft { 
    animation-name: smallerBiggerLeft;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes smallerBiggerLeft {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.115);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes smallerBiggerRight {
    0% {
      transform: scale(1) rotate(180deg);
    }
    50% {
      transform: scale(1.115) rotate(180deg);
    }
    100% {
      transform: scale(1) rotate(180deg);
    }
  }

  .arrowRight:hover {
    transform: rotate(180deg) scale(1.115);
    transition: 0.5s;
  }

  .arrowRight:not(:hover) {
    transform: rotate(180deg) scale(1);
    transition: 0.5s;
  }

  .slider {
    position: absolute;
    height: 370px;
    display: flex;
    left: 0;
    transition: all 0.84s ease-out;

    @include iPhoneXrScreen {
      height: 400px;
      margin-top: 8%;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: "futura-pt-21", sans-serif;

        width: 720px;
        height: 100%;
        background-color: rgb(252, 247, 243);
        border-radius: 7px;
        padding-right: 12px;
        padding-left: 12px;

        @include blogsPageSmallMediumScreen {
          width: 600px;
          font-size: 13.8px;
          padding-right: 10px;
          padding-left: 10px;
        }

        @include blogsPageSmallerScreen {
          width: 442px;
          font-size: 12.5px;
          padding-right: 18px;
          padding-left: 18px;
        }

        @include iPhoneXrScreen {
          width: 332px;
          font-size: 15.1px;
        }

        .blogImage {
          margin-top: 1%;
          width: 375px;
          height: auto;
          border-radius: 2%;

          @include iPhoneXrScreen {
            width: 305px;
            height: auto;
          }
        }

        .readMoreLink {
          text-decoration: none;
          color: black;
          border: 1px solid black;
          border-radius: 2px;
          // border-radius: 3px 90px;
          padding: 2px 15px;
          font-weight: 100;
          cursor: pointer;
        }

        .readMoreLink:hover {
          background-color: black;
          color: rgb(252, 247, 243);
          border-radius: 2px;
          // border-radius: 3px 90px;
          transform: scale(1.065);
          transition: 0.5s;
        }

        .readMoreLink:not(:hover) {
          transform: scale(1);
          transition: 0.5s;
        }

        // .left {
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   flex-direction: column;
        //   height: 100%;
        //   flex: 6;
        //   background-color: red;

        // }

        // .right {
        //   height: 100%;
        //   flex: 6;
        //   background-color: green;
        // }
      }
    }
  }
}
