.blogs {
  background-color: #6e5374;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .slider {
    position: absolute;
    height: 350px;
    display: flex;
    left: 0;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
      }
    }
  }
}
