.blogs {
  background-color: #76597d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.blogs .blogsTitle {
  color: black;
  position: relative;
  bottom: 34.5%;
  right: 4%;
}

@media (max-width: 414px) {
  .blogs .blogsTitle {
    bottom: 28%;
    left: 7%;
  }
}

.blogs .arrowLeft {
  height: 70px;
  position: absolute;
  z-index: 3;
  left: 11%;
  cursor: pointer;
}

@media (max-width: 1012px) {
  .blogs .arrowLeft {
    left: 11%;
    top: 9.5%;
    height: 58px;
  }
}

@media (max-width: 414px) {
  .blogs .arrowLeft {
    top: 17%;
    left: 8%;
  }
}

.blogs .arrowLeft:hover {
  -webkit-transform: scale(1.115);
          transform: scale(1.115);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blogs .arrowLeft:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blogs .arrowRight {
  height: 70px;
  position: absolute;
  z-index: 3;
  right: 11%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

@media (max-width: 1012px) {
  .blogs .arrowRight {
    left: 24%;
    top: 9.5%;
    height: 58px;
  }
}

@media (max-width: 414px) {
  .blogs .arrowRight {
    top: 17%;
    left: 25%;
  }
}

.blogs .arrowRight:hover {
  -webkit-transform: rotate(180deg) scale(1.115);
          transform: rotate(180deg) scale(1.115);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blogs .arrowRight:not(:hover) {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blogs .slider {
  position: absolute;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-transition: all 0.84s ease-out;
  transition: all 0.84s ease-out;
}

@media (max-width: 414px) {
  .blogs .slider {
    height: 400px;
  }
}

.blogs .slider .container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogs .slider .container .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "futura-pt-21", sans-serif;
  width: 720px;
  height: 100%;
  background-color: #fcf7f3;
  border-radius: 7px;
  padding-right: 12px;
  padding-left: 12px;
}

@media (max-width: 1146px) {
  .blogs .slider .container .blog {
    width: 600px;
    font-size: 13.8px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 681px) {
  .blogs .slider .container .blog {
    width: 442px;
    font-size: 12.5px;
    padding-right: 18px;
    padding-left: 18px;
  }
}

@media (max-width: 414px) {
  .blogs .slider .container .blog {
    width: 332px;
    font-size: 15.1px;
  }
}

.blogs .slider .container .blog .blogImage {
  margin-top: 1%;
  width: 375px;
  height: auto;
  border-radius: 2%;
}

@media (max-width: 414px) {
  .blogs .slider .container .blog .blogImage {
    width: 305px;
    height: auto;
  }
}

.blogs .slider .container .blog .readMoreLink {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px 15px;
  font-weight: 100;
  cursor: pointer;
}

.blogs .slider .container .blog .readMoreLink:hover {
  background-color: black;
  color: #fcf7f3;
  border-radius: 2px;
  -webkit-transform: scale(1.065);
          transform: scale(1.065);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blogs .slider .container .blog .readMoreLink:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=blogs.css.map */