.blogs {
  background-color: #6e5374;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .slider {
    position: absolute;
    height: 370px;
    display: flex;
    left: 0;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .blog {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 720px;
        height: 100%;
        background-color: rgb(252, 247, 243);
        border-radius: 10px;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          flex: 6;
          background-color: red;
        }

        .right {
          height: 100%;
          flex: 6;
          background-color: green;
        }
      }
    }
  }
}
