.introduction {
  background-color: rgb(252, 247, 243);
  text-align: center;
  color: black;
  font-family: "futura-pt-medium-italic-regular";
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting {
  font-size: 6.7vw;
  font-family: "futura-pt-21", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 4.514vw;
  padding-top: 12.5vw;
  z-index: 3;
}

.role {
  font-size: 2.1vw;
  font-family: "futura-pt-21", sans-serif;

  display: flex;
  align-items: center;
  padding-left: 4.75vw;
  font-weight: 100;
  z-index: 3;
}

// //.shapeContainer {
// flex: .7;
// width: 400px;
// height: 400px;
// //}

.circle1 {
  border-radius: 100%;
  width: 545px;
  height: 545px;
  left: 60.5%;
  top: 48%;
  z-index: 1;
  position: absolute;
  background: #5a7653;
}

.circle2 {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  z-index: 1;
  position: absolute;
  bottom: 63%;
  right: 20%;
  background: transparent;
  border: 1px solid black;
}

.design {
  padding-right: 200px;
}

.triangle-topleft {
  width: 0;
  height: 0;
  position: absolute;
  top: 2%;
  right: 15%;
  z-index: 1;
  border-top: 100px solid #6e5374;
  border-right: 100px solid rgb(252, 247, 243);
  background-color: rgb(252, 247, 243);
}

.lightenedText {
  color: #f3f4ed;
}

.design {
  height: 17.361vw;
  width: 15.972vw;
  position: absolute;
  right: 12%;
  bottom: 38%;
  z-index: 3;
}

i {
  text-align: right;
  padding-right: 2.5px;
}
