@import "../../global.scss";

.about {
  background-color: rgb(252, 247, 243);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: top;
  min-height: 100vh;
  padding-top: 8%;
  padding-left: 36%;

  @include mediumScreen { 
    padding-left: 12%;
  }

  @include smallMediumScreen { 
    padding-top: 2%;
    padding-left: 7.5%;
    justify-content: center;
  }

  .about-description {
    display: flex;
    width: 760px;

    font-size: 24px;
    font-family: "futura-pt-21", sans-serif;
    font-weight: 100;

    @include smallMediumScreen { 
      width: 450px;
      font-size: 20px;
    }
  }

  .aboutHeader {
    display: flex;
    font-size: 30px;

    font-family: "futura-pt-21", sans-serif;
  }

  .skills {
    display: flex;
    flex-direction: column;
    font-family: "futura-pt-21", sans-serif;
    font-weight: 100;

    @include smallMediumScreen { 
     position: relative; 
     bottom: 4.5%;
     left: 2%;
     width: 600px;
    }

    h2 { 
      @include smallMediumScreen { 
      display: none;
       }
   
    }
  }

  ul {
    width: 630px;

    @include smallMediumScreen { 
        display: flex;
        position: relative; 
      right: 6%;
        width: 480px !important;
        flex-wrap: wrap;
  }
}

  ul li {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    display: inline;
  }

  li {
    margin-right: 2%;
  }

  .floating1 {
    animation-name: floating;
    animation-duration: 5.8s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0vw;
    margin-top: 0.347vw;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0vw);
    }
    50% {
      transform: translate(0, .26vw);
    }
    100% {
      transform: translate(0, 0vw);
    }
  }


  .floating2 {
    animation-name: floating;
    animation-duration: 5.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0vw;
    margin-top: 0.347vw;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0vw);
    }
    50% {
      transform: translate(0, .26vw);
    }
    100% {
      transform: translate(0, -0vw);
    }
  }

  .floating3 {
    animation-name: floating;
    animation-duration: 5.8s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0vw;
    margin-top: 0.347vw;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0vw);
    }
    50% {
      transform: translate(0, .26vw);
    }
    100% {
      transform: translate(0, 0vw);
    }
  }
}


