.about {
  background-color: rgb(252, 247, 243);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: top;
  min-height: 100vh;
  padding-top: 12%;
  padding-left: 36%;

  .about-description {
    display: flex;
    width: 760px;

    font-size: 24px;
    font-family: "futura-pt-21", sans-serif;
    font-weight: 100;
  }

  .aboutHeader {
    display: flex;
    font-size: 30px;

    font-family: "futura-pt-21", sans-serif;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }
}
