.contact {
  background-color: #536162;
  color: #f3f4ed;
  font-family: "futura-pt-21", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.contactHeader {
  font-size: 90px;
  list-style-type: none;
  margin-top: 4%;
}
