@import "../../global.scss";


.navbar {
  background-color: rgb(252, 247, 243);
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  z-index: 2;
  font-family: "futura-pt-medium";
  font-size: 15px !important;
  color: black;

  @include iPhoneXrScreen { 
    height: 90px;
    font-size: 19px !important;
    width: 100%;
  }
}

.outer-div {
  padding: 20px 26px;
  display: flex;
  justify-content: left;
  font-family: "futura-pt-19", sans-serif;
  position: relative;

  @include iPhoneXrScreen { 
    padding: 35px 26px;
  }
}

.right-nav {
  display: flex;
}

.right-nav-link {
  display: flex;
  padding-left: 20px;
  color: black;
  text-decoration: none;
}

.right-nav-link:hover {
  color: black;
}

.logo-link {
  color: rgb(252, 247, 243);
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  margin-top: -0.7%;
  margin-right: 3%;
  padding: 5.5px;
  padding-right: 8px;
  padding-left: 7px;
  width: 23px;
  height: 23px;
  border: 1px solid black;
  vertical-align: top;
  background: black;
}

.logo-link:hover {
  transform: rotate(-12.5deg);
  transition: 0.2s;

  @include navbarSmallMediumScreen { 
    transform: none;
    transition: none;
  }
}

.logo-link:not(:hover) {
  transform: rotate(0);
  transition: 0.81s;

  @include navbarSmallMediumScreen { 
    transform: none;
    transition: none;
  }
}

.contactMe {
  margin-left: auto;
  border-radius: 1px;
  background-color: black;
  padding: 12px 18px;
  margin-top: -0.5%;
  color: rgb(252, 247, 243);
  text-decoration: none;
  vertical-align: center;

  @include iPhoneXrScreen { 
    display: none;
  }
}

.contactMeMobile {
  display: none !important;
  margin-left: auto;
  border-radius: 1px;
  background-color: black;
padding: 0px;
margin-top: 0px;
margin-left: none;
color: rgb(252, 247, 243);
text-decoration: none;
vertical-align: center;

@include iPhoneXrScreen { 
  display: inline-block !important;
  padding: 5px 5.5px;
  margin-top: -1.5%;
  margin-bottom: 1%;
}
}

.contactMe:hover {
  margin-left: auto;
  border: 1px solid black;
  border-radius: 1px;
  background-color: rgb(252, 247, 243);
  padding: 12px 18px;
  margin-top: -0.5%;
  color: black;
  text-decoration: none;
  vertical-align: center;
}
