@import "./global.scss";

.app {
  height: 100vh;

  .segments {
    width: 100%;
    height: calc(100vh - 65px);
    background-color: rgb(252, 247, 243);
    position: relative; //make container relative and have it begin after 65px.
    top: 65px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    scroll-snap-type: y mandatory;

    > *:not(:last-child) {
      //for each of the components
      width: 100vw;
      height: calc(100vh - 65px);
      scroll-snap-align: start;
    }

    > :last-child {
      width: 100vw;
      height: calc(100vh - 200px);
      scroll-snap-align: start;
    }

    > :nth-child(3) { 
      @include smallMediumScreen  { 
        height: 270% !important;
        scroll-snap-align: start;
      }

      @include forProjectsPageSmallScreen { 
        height: 238% !important;
      }

      @include iPhoneXrScreen { 
        height: 160% !important;
      }
      // @include smallMediumScreen { 
      // > :nth-child(4) { 
      //     height: 230% !important;
      //     scroll-snap-align: none !important;
      //     scroll-snap-type: none !important;
      //   }
       
      
    }
  }

}
