$mediumWidth: 1238px;
$smallMediumWidth: 885px;
$forProjectsPageSmallMediumMinWidth: 756px;
$forProjectsPageSmallMediumMaxWidth: 884px;
$forProjectsPageSmallMinWidth: 520px;
$forProjectsPageSmallMaxWidth: 702px;
$blogsPageSmallMediumWidth: 1146px;
$blogsPageSmallWidth: 979px;




@mixin mediumScreen { 
    @media (max-width: #{$mediumWidth}) { 
        @content;
    }
}

@mixin smallMediumScreen {
    @media (max-width: #{$smallMediumWidth}) {
      @content;
    }
  }

@mixin forProjectsPageSmallMediumScreen { 
    @media (min-width: #{$forProjectsPageSmallMediumMinWidth}) and (max-width: #{$forProjectsPageSmallMediumMaxWidth}) { 
        @content;
    }
}

@mixin forProjectsPageSmallScreen { 
    @media (min-width: #{$forProjectsPageSmallMinWidth}) and (max-width: #{$forProjectsPageSmallMaxWidth}) { 
        @content;
    }
}

@mixin blogsPageSmallMediumScreen {
    @media (max-width: #{$blogsPageSmallMediumWidth}) {
      @content;
    }
  }

  @mixin blogsPageSmallScreen {
    @media (max-width: #{$blogsPageSmallWidth}) {
      @content;
    }
  }

  


  
//   @mixin mediumDevice {
//     @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lr - 1px}) {
//       @content;
//     }
//   }
  
//   @mixin smallDevice {
//     @media (min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-md - 1px}) {
//       @content;
//     }
//   }
  
//   @mixin extraSmallDevice {
//     @media (min-width: #{$breakpoint-xs}) and (max-width: #{$breakpoint-sm - 1px}) {
//       @content;
//     }
//   }
  



